body {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
    margin-right: 10px;
}

#grid-container {
    display: inline-block;
}

header, main, footer {
    padding: 1rem;
}

header {
    background-color: #C6BBBB;
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
    align-items: baseline;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#logo {
    text-decoration: none;
    color: #fff;
    font-style: italic;
    font-size: 30px;
}

.menu-bar {
    color: #fff;
    margin-top: auto;
    width: auto;
    
}

.icons {
    color: #fff;
    margin-top: auto;
    
}

.navbar {
    display: none;
}


.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: rgba(21, 21, 21, 0.706);
    font-weight: 200;
    display: inline-block;
    padding: 1.5rem;
    text-decoration: none;
}

h1 {
    font-size: 25px;
}

main {
    grid-area: main;
}

main section img {
    width: 100%;
}


h1 {
    font-weight: 150;
}

.left-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nike {
    text-decoration: none;
}

.shoe-info{
    display: grid;
}

.product-shoe {
    text-decoration: none;
    color: black;
}

.product-info {
    background-color: #f7f7f7;
    padding: 1rem;
    margin: 1rem 0;
}

.delivery-info {
    background-color: #f7f7f7;
    padding: 1rem;
    margin: 1rem 0;
    justify-content: space-around;
}

.offer {
    display: inline-block;
    padding: 1rem 0;
    margin: 1rem 0;
    text-decoration: none;
    background-color: #C6BBBB;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.read-more-btn, .sign-up-btn {
    display: inline-block;
    padding: 1rem 0;
    margin: 1rem 0;
    text-decoration: none;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    width: 50%;
    

}

.black-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: black;
    color: #D9D9D9;
    border-radius: 5px;
    font-weight: 400;
    width: 50%;
    margin: 0.5rem 0;
}

.grey-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    width: 50%;
    margin: 0.5rem 0;
}

.buttons{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #D9D9D9;
    color: black;
    font-weight: 550;
    border-radius: 5px;
    list-style: none;
    margin: 0.5rem 0;
    width: 50%;
    text-align: center;
    align-items: center;
    margin-left: 5rem;
}


.img {
    display: inline-block;
    grid-template-columns: auto auto auto;

}


.site-footer {
    background-color: #C6BBBB;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
    margin: 0;
}

.help, .profile, .contact, .terms, .snkr, .social-media {
    text-decoration: none;
    list-style: none;
    padding: 1rem;

}

.fa-facebook, .fa-instagram {
    font-weight: 100;
    font-size: 40px;
    padding: 0.5rem;
    display: inline;
    float: left;
}


footer ul li a {
    list-style: none; 
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-right: 50px;
    padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
    /* Endrer grid-malen for bredere skjermer */
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    .grid{
        display: flex;
        grid-template-columns: auto auto auto ;
    }
    /* Viser den skjulte navigasjonsmenyen og skjuler menyikoner */
    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }

    /* Skjuler menyikoner i header */
    #ham, .fa-magnifying-glass {
        display: none;
    }

    /* Gjør flex-seksjoner som viser bilder og tekst ved siden av hverandre med mellomrom */
    .flex-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .flex-section img {
        width: 50%;
    }

    /* Legger til litt mellomrom og justering i flex-seksjoner */
    .flex-section section {
        padding: 1rem;
        width: 40%;
        align-self: center;
    }

    .img {
        display: inline-block;
        padding: 1rem;
        width: 20%;
    }
        
    .buttons {
        padding: 1rem;
        width: 30%;
        align-self: center;
        padding-left: 0%;

    }
    
    .read-more-btn, .sign-up-btn {
        padding: 1rem;
        width: 30%;
        align-self: center;
        padding-left: 0%;
    }
}